/* App.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
  font-size: 2rem;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  
}

input, textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #0056b3;
}

button i {
  margin-right: 5px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.task-item {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.task-item h3 {
  margin: 0;
  font-size: 18px;
}

.task-item p {
  margin: 5px 0 0;
  font-size: 0.9rem;
  color: #666;
}

.task-item button {
  background-color: #28a745;
  margin-left: 10px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-item button i {
  margin-right: 5px;
}

.task-item button:hover {
  background-color: #218838;
}

.task-item .delete {
  background-color: #dc3545;
}

.task-item .delete:hover {
  background-color: #c82333;
}

.task-item.completed h3 {
  text-decoration: line-through;
  color: #999;
}

.task-item.completed {
  background-color: #e6e6e6;
}
